*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

     /* header */
header{
    height: 100px;
    background-color: white;
}

header img{
    padding: 20px;
    float: left;
}

h1{
    display: inline-block;
    float: left;
    margin-top: 20px;
}

        /* inizio contenitore */

.first-container{
    margin: auto;
    background-color: white;
    max-width: 800px;
    margin-top: 50px;
    border-radius: 5px;
    border-bottom: 2px solid lightgray
}
input{
    border: 1px solid lightgray;
    margin: 10px 0px 5px 30px;
    padding: 5px;
    border-radius: 5px;
}

#add{
    background-color: dodgerblue;
    color: white;
}

#section{
    background-color: white;
    color: lightgray;
    margin-left: 1px;
}

.second-container{
    margin: auto;
    background-color: white;
    max-width: 800px;
    height: 200px;
    margin-top: 2px;
    border-radius: 5px;
    padding-left: 40px;
}

h1{
    margin-top: 40px;
    font-size: 25px;
}

