*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

     /* header */
header{
    height: 100px;
    background-color: white;
}

header img{
    padding: 20px;
    float: left;
}

h1{
    display: inline-block;
    float: left;
    margin-top: 20px;
}

        /* inizio contenitore */
.container{
    margin: auto;
    background-color: white;
    max-width: 800px;
    height: 300px;
    margin-top: 50px;
}